# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.eggs/
*.manifest
*.spec

# Virtual env
.venv/
env/
venv/

# IDE
.vscode/
.idea/
*.swp

# Testing
.coverage
htmlcov/
.tox/
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
